*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: blue;
    padding: 20px;
}
nav{
    display: grid;
    place-items: center;
    background-color: cadetblue;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color:white;
    transition: 0.2s ease-in;
}
nav ul a:hover{
    background-color: red;
    color: aquamarine;
}
.items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.03);
}
.item h3{
    text-align: center;
    padding: 5px;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: brown;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.05);
}
@media screen and (max-width:1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border-radius: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}